doctype html
html(lang="ja")
  header
    link(rel="stylesheet" type="text/css" href="../public/css/bulmaswatch.min.css")
    title dula
  body
    .container
      nav.navbar(role="navigation" aria-label="main navigation")
        .navbar-brand
          a.navbar-item(href="https://bulma.io")
            img(src="https://bulma.io/images/bulma-logo.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28")
      section.hero.is-info.is-bold
        .hero-body
          .container
            h1.title
              | dula
            h2.subtitle
              | is social schedula.
      .hero-body#heroBody
        .columns.is-multiline.is-mobile#columns
  script(src="../public/js/bundle.js")